<!--?xml version="1.0" encoding="UTF-8"?-->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">rent</property>
        <property name="hibernate.connection.password">1234rent1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rent_table</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">false</property>
        <property name="connection.pool_size">1</property>

        <mapping resource="Listing.hbm.xml"/>
        <mapping resource="SearchProfile.hbm.xml"/>
    </session-factory>
</hibernate-configuration>